<div class="navbar hidden-xs">
	<div class="container">
		<div class="row">
			<nav class="col-md-12 clearfix">
				<ul class="main-nav white-nav dotted-separator">
					<li>
						<div>
							<a ui-sref="admin.home" class="content-link restaurant-wrapper"><span>Articulos</span> <img src="img/icon1.png" alt=""/></a>
						</div>
					</li>
					<li>
						<div>
							<a href="" ui-sref="admin.deals" class="content-link menu-wrapper menu-item-has-children"><span>Promociones</span> <img src="img/icon2.png" alt=""/></a>
							<ul class="subnav">
								<li><a href="index.php?p=menu" title=""><span>menu 1</span></a></li>
								<li><a href="index.php?p=menu2" title=""><span>menu 2</span></a></li>
								<li><a href="index.php?p=menu3" title=""><span>menu 3</span></a></li>
							</ul>
						</div>
					</li>
					<li class="menu-image">
						<div>
							<a class="content-link" title="logo" href="" ui-sref="app.homepage"><img src="img/logo_due.png" alt=""></a>
						</div>
					</li>
					<li>
						<div>
							<a href="" ui-sref="admin.contact" class="content-link reservation-wrapper"><span>Contacto</span> <img src="img/icon3.png" alt=""/></a>
						</div>
					</li>
					<li>
						<div>
							<a href="" ui-sref="admin.reservations" class="content-link reservation-wrapper"><span>Reservas</span> <img src="img/icon2.png" alt=""/></a>
						</div>
					</li>
					<li>
						<div>
							<a href="" ng-click="doLogout()" class="content-link contact-wrapper"><span>Logout </span><img src="img/icon4.png" alt=""/></a>
						</div>
					</li>
					
				</ul>
			</nav>
		</div>
	</div>
</div>
