<div class="container full-bg visible-xs sm-navbar">
			<nav>
				<div class="row">
					<div class="navbar-inner">
						<ul class="main-menu nav">
							<li>
								<header class="small-logo">
									<a href="" title=""><img src="img/logo_due.png" alt="Barnelli"/></a>
								</header>
							</li>
							<li class="reorder">
								<a href="#" title="" class="exclude" data-djax-exclude="true"><i class="fa fa-reorder"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		
		<div ui-view="menu"></div>
		
		<div ui-view="content" id="content-wrapper">
		<div class="col-sm-12 col-md-2">
		<div ui-view="admin-menu"></div>
	</div>
		</div>

		<audio>
			<source src="sound/message.mp3"></source>
			<source src="sound/message.ogg"></source>
			Your browser isn't invited for super fun audio time.
		</audio>
		<audio>
			<source src="sound/reservation.mp3"></source>
			<source src="sound/reservation.ogg"></source>
			Your browser isn't invited for super fun audio time.
		</audio>