<div style="background: #272125;" class="container padding-wrapper">
	<div class="row">
		<div class="col-sm-offset-1 col-sm-5 col-md-3 col-md-offset-0 form">
					<form class="login" action="">
  <h2><span class="entypo-login"></span> Login</h2>
  <button ng-click="doLogin($event)" class="submit"><span class="entypo-lock"></span></button>
  <span class="entypo-user inputUserIcon"></span>
  <input type="text" ng-model="authData.email" class="user" placeholder="email"/>
  <span class="entypo-key inputPassIcon"></span>
  <input type="password" ng-model="authData.password" class="pass"placeholder="password"/>
</form>
				</div>
	</div>
</div>

