<div class="dynamic-content" id="main-content">
	<div id="third-menu" class="menu padding-wrapper">
		<div class="container animate-in animate-in-fade">
			<header class="row">
				<div class="col-md-12">
					<div class="menu-header">
						<h2><span>Entradas <i class="fa fa-lemon-o"></i></span></h2>
					</div>
				</div>
			</header>
			<section class="row">
				<div class="menu-list col-sm-6 col-md-6">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Panes</p>
						<p class="description">Pan con pesto o trozos de orellana y cebolla en aceite de oliva, vino blanco y especias.</p>
						
					</article>
				</div>
				<div class="menu-list col-sm-6 col-md-6">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Antipasto</p>
						<p class="description">Lonchas de Speck, pimentones asados, aceitunas verdes, queso parmesano y tomates secos.</p>
						
					</article>
				</div>
				
			</section>
			<header class="row">
				<div class="col-md-12">
					<div class="menu-header">
						<h2><span>Pizzas <i class="fa fa-cutlery"></i></span></h2>
					</div>
				</div>
			</header>
			<section class="row">
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Margarita <span>(8 porciones)</span></p>
						<p class="description">Sed dapibus mauris ac ipsum suscipit, at semper libero commodo.</p>
						<div class="price">
							<span>16,50</span>
						</div>
					</article>
				</div>
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Bianca <span>(8 porciones)</span></p>
						<p class="description">Fusce at mi quis nunc ornare iaculis.</p>
						<div class="price">
							<span>13,50</span>
						</div>
					</article>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Spinaci e Blue <span>(8)</span></p>
						<p class="description">In sed ipsum et dolor ultrices cursus vel vel nisl.</p>
						<div class="price">
							<span>14,20</span>
						</div>
					</article>
				</div>
			</section>
			<section class="row">
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Vegetales <span>(8 porciones)</span></p>
						<p class="description">Sed dapibus mauris ac ipsum suscipit, at semper libero commodo.</p>
						<div class="price">
							<span>16,50</span>
						</div>
					</article>
				</div>
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Panceta + Shiitake <span>(8 porciones)</span></p>
						<p class="description">Fusce at mi quis nunc ornare iaculis.</p>
						<div class="price">
							<span>13,50</span>
						</div>
					</article>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Manu <span>(8)</span></p>
						<p class="description">In sed ipsum et dolor ultrices cursus vel vel nisl.</p>
						<div class="price">
							<span>14,20</span>
						</div>
					</article>
				</div>
			</section>
			<section class="row">
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Salami <span>(8 porciones)</span></p>
						<p class="description">Sed dapibus mauris ac ipsum suscipit, at semper libero commodo.</p>
						<div class="price">
							<span>16,50</span>
						</div>
					</article>
				</div>
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Chorizo Espa&ntilde;ol <span>(8 porciones)</span></p>
						<p class="description">Fusce at mi quis nunc ornare iaculis.</p>
						<div class="price">
							<span>13,50</span>
						</div>
					</article>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Prosciuto e Arugula <span>(8)</span></p>
						<p class="description">In sed ipsum et dolor ultrices cursus vel vel nisl.</p>
						<div class="price">
							<span>14,20</span>
						</div>
					</article>
				</div>
			</section>
			<header class="row">
				<div class="col-md-12">
					<div class="menu-header">
						<h2><span>Postres & Caf&eacute; <i class="fa fa-coffee"></i></span></h2>
					</div>
				</div>
			</header>
			<section class="row">
				<div class="menu-list col-sm-6 col-md-6">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Postre</p>
						<p class="description">Sed dapibus mauris ac ipsum suscipit, at semper libero commodo.</p>
						<div class="price">
							<span>16,50</span>
						</div>
					</article>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="menu-list col-sm-6 col-md-6">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Gelato</p>
						<p class="description">In sed ipsum et dolor ultrices cursus vel vel nisl.</p>
						<div class="price">
							<span>14,20</span>
						</div>
					</article>
				</div>
			</section>
			<section class="row">
				<div class="menu-list col-sm-6 col-md-6">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Caf&eacute;</p>
						<p class="description">Sed dapibus mauris ac ipsum suscipit, at semper libero commodo.</p>
						<div class="price">
							<span>16,50</span>
						</div>
					</article>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="menu-list col-sm-6 col-md-6">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Arom&aacute;tica frutos secos</p>
						<p class="description">In sed ipsum et dolor ultrices cursus vel vel nisl.</p>
						<div class="price">
							<span>14,20</span>
						</div>
					</article>
				</div>
			</section>
			<header class="row">
				<div class="col-md-12">
					<div class="menu-header">
						<h2><span>Bebidas <i class="fa fa-glass"></i></span></h2>
					</div>
				</div>
			</header>
			<section class="row">
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Botella o Copa de Vino</span></p>
						<p class="description">Sed dapibus mauris ac ipsum suscipit, at semper libero commodo.</p>
						<div class="price">
							<span>16,50</span>
						</div>
					</article>
				</div>
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Cerveza</span></p>
						<p class="description">Fusce at mi quis nunc ornare iaculis.</p>
						<div class="price">
							<span>13,50</span>
						</div>
					</article>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="menu-list col-sm-6 col-md-4">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Bogot&aacute; Beer Company</span></p>
						<p class="description">In sed ipsum et dolor ultrices cursus vel vel nisl.</p>
						<div class="price">
							<span>14,20</span>
						</div>
					</article>
				</div>
			</section>
			<section class="row">
				<div class="menu-list col-sm-6 col-md-6">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Gaseosa</span></p>
						<p class="description">Sed dapibus mauris ac ipsum suscipit, at semper libero commodo.</p>
						<div class="price">
							<span>16,50</span>
						</div>
					</article>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="menu-list col-sm-6 col-md-6">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Hatsu, Jugo del Valle, Botella de Agua</span></p>
						<p class="description">In sed ipsum et dolor ultrices cursus vel vel nisl.</p>
						<div class="price">
							<span>14,20</span>
						</div>
					</article>
				</div>
			</section>
			<header class="row">
				<div class="col-md-12">
					<div class="menu-header">
						<h2><span>Licores <i class="fa fa-cup"></i></span></h2>
					</div>
				</div>
			</header>
			<section class="row">
				<div class="clearfix visible-sm"></div>
				<div class="menu-list col-sm-12 col-md-12">
					<article class="menu-item">
						<figure>
							<a data-djax-exclude="true" href="img/400x300.gif" rel="gallery" class="menu-gallery"><img src="http://placehold.it/500x300" alt=""/></a>
						</figure>
						<p class="title">Licores <span>(Variedad)</span></p>
						<p class="description">In sed ipsum et dolor ultrices cursus vel vel nisl.</p>
					</article>
				</div>
			</section>
		</div>
	</div>
</div>